.google-blue {
  background-color: #4285f4;
}

.google-green {
  background-color: #34a853;
}

.google-yellow {
  background-color: #fbbc05;
}

.google-red {
  background-color: #ea4335;
}

.binance-yellow {
  background-color: var(--binance-colour);
}

.black {
  background-color: #000;
}

.off-black {
  background-color: #202124;
}

.ibm-blue {
  background-color: #0f62fe;
}

.ibm-cyan {
  background-color: #82cfff;
}

.ibm-purple {
  background-color: #be95ff;
}

.ibm-red {
  background-color: #ff7eb6;
}

.ibm-green {
  background-color: #3ddbd9;
}

.mcg-purple {
  background-color: #b072ff;
}

.go-ninety {
  rotate: 90deg;
}

.go-one-eighty {
  rotate: 180deg;
}

.go-two-seventy {
  rotate: 270deg;
}

.baseline-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  height: calc(var(--landing-exponent) * 0.3);
  width: calc(var(--landing-exponent) * 7);
  margin-bottom: calc(var(--landing-exponent) * 0.8);
  background-color: #202124;
}

.baseline-colour {
  height: 100%;
  width: 100%;
}

.bauhaus-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  align-items: center;
  justify-content: center;
  height: calc(var(--landing-exponent) * 3.5);
  width: calc(var(--landing-exponent) * 7);
  /* background-color: grey; */
}

.google-bauhaus-container {
  margin-top: calc(var(--landing-exponent) * 7 * 0.025);
  margin-left: calc(var(--landing-exponent) * 7 * 0.025);
  height: calc(var(--landing-exponent) * 3.5 * 0.95) !important;
  width: calc(var(--landing-exponent) * 7 * 0.95) !important;
}

.ibm-bauhaus-container {
  grid-template-columns: repeat(8, 1fr) !important;
  grid-template-rows: repeat(4, 1fr) !important;
}

.bauhaus-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1/3;
  aspect-ratio: 1/1;
  /* background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  border-color: grey; */
}

.google-colourful {
  position: absolute;
  border-radius: 50%;
  height: calc(var(--landing-exponent) * 0.855);
  aspect-ratio: 1/1;
  translate: calc(var(--landing-exponent) * 0.2)
    calc(var(--landing-exponent) * -0.2);
  z-index: 1;
}

.google-black {
  position: absolute;
  background-color: #202124;
  border-radius: 50%;
  height: calc(var(--landing-exponent) * 0.855);
  aspect-ratio: 1/1;
  translate: calc(var(--landing-exponent) * -0.2)
    calc(var(--landing-exponent) * 0.2);
  z-index: 0;
}

.binance-colourful {
  position: absolute;
  background-color: var(--binance-colour);
  aspect-ratio: 1/1;
  height: calc(var(--landing-exponent) * 3.5 / 6);
  translate: 50% -50%;
  z-index: 1;
}

.binance-black-middle {
  position: absolute;
  background-color: #000;
  aspect-ratio: 1/1;
  rotate: 45deg;
  height: calc(var(--landing-exponent) * 3.5 / 6 * sqrt(2));
  z-index: 0;
}

.binance-black-bottom {
  position: absolute;
  background-color: #000;
  aspect-ratio: 1/1;
  height: calc(var(--landing-exponent) * 3.5 / 6);
  translate: -50% 50%;
  z-index: 0;
}

.ibm-primary {
  position: absolute;
  background-color: #82cfff;
  aspect-ratio: 2/1;
  width: calc(var(--landing-exponent) * 3.5 / 4.35);
  border-bottom-left-radius: calc(var(--landing-exponent) * 3.5 / 6);
  border-bottom-right-radius: calc(var(--landing-exponent) * 3.5 / 6);
  translate: 0 -53%;
}

.ibm-secondary {
  position: absolute;
  background-color: #be95ff;
  aspect-ratio: 2/1;
  width: calc(var(--landing-exponent) * 3.5 / 4.35);
  border-top-left-radius: calc(var(--landing-exponent) * 3.5 / 6);
  border-top-right-radius: calc(var(--landing-exponent) * 3.5 / 6);
  translate: 0 53%;
}

.ibm-ninety-primary {
  position: absolute;
  background-color: #ff7eb6;
  aspect-ratio: 1/2;
  height: calc(var(--landing-exponent) * 3.5 / 4.35);
  border-top-right-radius: calc(var(--landing-exponent) * 3.5 / 6);
  border-bottom-right-radius: calc(var(--landing-exponent) * 3.5 / 6);
  translate: -53% 0;
}

.ibm-ninety-secondary {
  position: absolute;
  background-color: #3ddbd9;
  aspect-ratio: 1/2;
  height: calc(var(--landing-exponent) * 3.5 / 4.35);
  border-top-left-radius: calc(var(--landing-exponent) * 3.5 / 6);
  border-bottom-left-radius: calc(var(--landing-exponent) * 3.5 / 6);
  translate: 53% 0;
}

.mcg-top {
  position: absolute;
  background-color: #b072ff;
  aspect-ratio: 1/1;
  height: calc(var(--landing-exponent) * 7 / 9);
  translate: 26% -26%;
  z-index: 1;
}

.mcg-bottom {
  position: absolute;
  background-color: #202124;
  aspect-ratio: 1/1;
  height: calc(var(--landing-exponent) * 7 / 9);
  translate: -26% 26%;
  z-index: 0;
}

.anchor-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: calc(var(--landing-exponent) * 7);
  justify-content: space-between;
}

.anchor-dot {
  height: calc(var(--landing-exponent) * 0.3);
  width: calc(var(--landing-exponent) * 0.3);
  opacity: 0.3;
}

.anchor-container .top-left {
  grid-column: 1;
  grid-row: 1;
}

.anchor-container .top-right {
  grid-column: 3;
  grid-row: 1;
}

.anchor-container .bottom-left {
  grid-column: 1;
  grid-row: 3;
}

.anchor-container .bottom-right {
  grid-column: 3;
  grid-row: 3;
}

.plank-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  height: calc(var(--landing-exponent) * 0.6);
  width: calc(var(--landing-exponent) * 7);
  margin-bottom: calc(var(--landing-exponent) * 0.3);
  background-color: #202124;
}

.university {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .university {
    flex-direction: row-reverse;
    gap: calc(var(--landing-exponent) * 2.5);
  }
}

@media screen and (max-width: 1200px) {
  .university {
    flex-direction: column;
    gap: calc(var(--landing-exponent) * 1);
  }
}

.bauhaus-triangles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: calc(var(--landing-exponent) * 7);
  width: calc(var(--landing-exponent) * 21);
}

.triangle {
  height: 100%;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background-color: #1e3765;
}

.the-annex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(var(--landing-exponent) * 21);
}

.st-george {
  display: flex;
  flex-direction: column;
}

.uoft-small {
  position: absolute;
  margin-top: calc(var(--landing-exponent) * 0.15);
  color: #1e3765;
  font-size: calc(var(--landing-exponent) * 0.8);
  font-family: "Inter-Bold";
  letter-spacing: calc(var(--landing-exponent) * 0.02);
  line-height: calc(var(--landing-exponent) * 0.8);
}

.uoft-large {
  position: absolute;
  margin-top: calc(var(--landing-exponent) * 1);
  color: #1e3765;
  font-size: calc(var(--landing-exponent) * 1.6);
  font-family: "Inter-Medium";
  line-height: calc(var(--landing-exponent) * 1.6);
}

.rosedale {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.class-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--landing-exponent) * 1);
  width: calc(var(--landing-exponent) * 5.1);
  background-color: #1e3765;
  border-radius: calc(var(--landing-exponent) * 0.3);
  margin-top: calc(var(--landing-exponent) * 0.2);
}

.class-year {
  color: #fff;
  font-family: "Inter-Medium";
  font-size: calc(var(--landing-exponent) * 0.7);
  /* letter-spacing: calc(var(--landing-exponent) * 0.01); */
  height: calc(var(--landing-exponent) * 0.4);
  line-height: calc(var(--landing-exponent) * 0.4);
}

.yonge-finch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: calc(var(--landing-exponent) * 1);
}

.bloor-yonge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: calc(var(--landing-exponent) * 0.4);
}

.program {
  color: #1e3765;
  font-size: calc(var(--landing-exponent) * 0.9);
  font-family: "Inter-Medium";
  line-height: calc(var(--landing-exponent) * 0.9);
}

.program-faded {
  color: #1e376544;
  font-size: calc(var(--landing-exponent) * 0.9);
  font-family: "Inter-Medium";
  line-height: calc(var(--landing-exponent) * 0.9);
}
