html, body {
  overflow: auto;
  overflow-x: hidden;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(https://source.unsplash.com/collection/42551867/1920x1080);
  background-attachment: fixed;
  background-size: cover;
  transition: 0.5 ease;
  /* filter: blur(10px); */
}

.root{
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* background-image: url(https://source.unsplash.com/collection/4773283); */
  /* background-image: url(https://source.unsplash.com/collection/219941); */
  /* background-attachment: fixed;
  background-size: cover; */
}

.title-back {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.refresh-glass {
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: fit-content;
  height: 3.5vh;
  border-radius: 5px;
  backdrop-filter: blur(15px) brightness(80%);
}

.glass {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 17vh;
  max-width: 80vw;
  transition: 0.5s ease;
  background-color: #00000044;
}

.title {
  padding-left: 2vw;
  background-color: transparent;
  width: fit-content;
  font-size: 8vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 2vw;
  color: #FFFFFFCC;
}

.blackout {
  display: flex;
  position: absolute;
  justify-self: stretch;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background: linear-gradient(transparent, #00000044);
}

.message {
  font-size: 1.45vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: #FFFFFF;
}

.scroll {
  position: absolute;
  justify-self: center;
  align-self: flex-end;
}