.construction {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 8px var(--shadow-colour);
  background-color: var(--background-colour);
  border-radius: 10px;
  height: calc(min(46px, 10vw) * 5.5);
  width: calc(min(46px, 10vw) * 9);
  overflow: hidden;
  margin-top: min(69px, 15vw);
  margin-bottom: min(69px, 15vw);
}

.construction .top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--construction-background);
  height: 40%;
  width: 100%;
}

.construction .top h2 {
  font-weight: bold;
  font-size: min(46px, 10vw);
  color: var(--background-colour);
}

.construction .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.construction .bottom h2 {
  font-weight: bold;
  font-size: min(46px, 10vw);
  color: var(--construction-colour);
}