.food-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: min(15px, 3vw);
}

.food-wrapper .happy {
  position: absolute;
  font-size: min(25px, 5vw);
  /* translate: calc(min(50px, 10vw) * 3.8) calc(min(50px, 10vw) * -1.1);
  rotate: 35deg; */
  translate: calc(min(50px, 10vw) * 2.5) 0;
  rotate: 0deg;
  z-index: 0;
  transition: translate 0.5s ease, rotate 0.5s ease, opacity 1s;
}

.food-wrapper .happy-animate {
  translate: calc(min(50px, 10vw) * 3.8) calc(min(50px, 10vw) * -1.1);
  rotate: 35deg;
}

.food-wrapper .happy-disappear {
  opacity: 0;
}

@-webkit-keyframes nutrition-appear {
  0% {
    background-color: var(--background-colour);
    box-shadow: 6px 6px 8px var(--shadow-colour);
    border-radius: 450px;
    height: calc(min(50px, 10vw) * 2);
    width: calc(min(50px, 10vw) * 9);
    border-color: var(--nutrition-border-highlight);
    border-width: 5px;
    cursor: default;
  }
  50% {
    background-color: var(--background-colour);
    box-shadow: 6px 6px 8px var(--shadow-colour);
    border-radius: 0;
    height: calc(min(50px, 10vw) * 12.5);
    width: calc(min(50px, 10vw) * 9);
    border-color: var(--nutrition-border-highlight);
    border-width: 2.5px;
    cursor: default;
  }
  100% {
    background-color: var(--badge-colour);
    box-shadow: none;
    border-radius: 0;
    height: calc(min(50px, 10vw) * 12.5);
    width: calc(min(50px, 10vw) * 9);
    border-color: #000;
    border-width: 2.5px;
    cursor: default;
  }
}

@keyframes nutrition-appear {
  0% {
    background-color: var(--background-colour);
    box-shadow: 6px 6px 8px var(--shadow-colour);
    border-radius: 450px;
    height: calc(min(50px, 10vw) * 2);
    width: calc(min(50px, 10vw) * 9);
    border-color: var(--nutrition-border-highlight);
    border-width: 5px;
    cursor: default;
  }
  50% {
    background-color: var(--background-colour);
    box-shadow: 6px 6px 8px var(--shadow-colour);
    border-radius: 0;
    height: calc(min(50px, 10vw) * 12.5);
    width: calc(min(50px, 10vw) * 9);
    border-color: var(--nutrition-border-highlight);
    border-width: 2.5px;
    cursor: default;
  }
  100% {
    background-color: var(--badge-colour);
    box-shadow: none;
    border-radius: 0;
    height: calc(min(50px, 10vw) * 12.5);
    width: calc(min(50px, 10vw) * 9);
    border-color: #000;
    border-width: 2.5px;
    cursor: default;
  }
}

@keyframes nutrition-content-appear {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.nutrition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-colour);
  /* background-color: var(--badge-colour); */
  height: calc(min(50px, 10vw) * 1.6);
  width: calc(min(50px, 10vw) * 7.5);
  box-shadow: 3px 3px 8px var(--shadow-colour);
  border-radius: 450px;
  cursor: pointer;
  transition: box-shadow 0.5s, border-color 0.5s;
  border-color: var(--nutrition-border-colour);
  border-width: 5px;
  border-style: solid;
  z-index: 5;
}

.nutrition:hover {
  box-shadow: 6px 6px 8px var(--shadow-colour);
  border-color: var(--nutrition-border-highlight);
}

.animate-nutrition {
  -webkit-animation: nutrition-appear 2s forwards;
  animation: nutrition-appear 2s forwards;
}

@keyframes title-animate {
  0% {
    color: var(--nutrition-title-colour);
    translate: 0 0;
  }
  25% {
    color: var(--nutrition-title-colour);
    translate: 0 0;
  }
  50% {
    color: var(--nutrition-title-colour);
  }
  75% {
    translate: calc(min(50px, 10vw) * -1.5) calc(min(50px, 10vw) * -5.75);
  }
  100% {
    color: #000;
    translate: calc(min(50px, 10vw) * -1.5) calc(min(50px, 10vw) * -5.75);
  }
}

.nutrition .title {
  position: absolute;
  margin: 0;
  font-size: calc(min(50px, 10vw) * 0.9);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  /* background-color: #bbb; */
  /* color: transparent; */
  /* color: #333; */
  color: var(--nutrition-title-colour);
  /* text-shadow: 1px 1px 3px #fffd;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
  translate: 0 0;
  /* transition: color 1s ease 1s, translate 1s ease 0.5s;
  -webkit-transition: color 1s ease 1s, translate 1s ease 0.2s; */
}

.nutrition .animate-title {
  animation: title-animate 2s forwards;
  /* color: #000;
  translate: calc(min(50px, 10vw) * -1.5) calc(min(50px, 10vw) * -5.75); */
}

.nutrition .nutrition-content {
  position: absolute;
  width: calc(min(50px, 10vw) * 8.8);
  /* display: none; */
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  /* margin-top: min(50px, 10vw); */
  visibility: hidden;
  margin: min(50px, 10vw) 0 0 0;
}

.nutrition .animate-nutrition-content {
  -webkit-animation: nutrition-content-appear 1s forwards 1s;
  animation: nutrition-content-appear 1s forwards 1s;
}

.nutrition-content .flex-start {
  align-self: flex-start;
}

.nutrition-content .margin-bottom {
  margin-bottom: min(5px, 1vw);
}

.nutrition-content .small-margin-bottom {
  margin-bottom: calc(min(5px, 1vw) * 0.5);
}

.nutrition-content .margin-left {
  margin-left: min(5px, 1vw);
}

.nutrition-content .thin {
  height: 1px;
  /* height: calc(min(5px, 1vw) * 0.2); */
  width: calc(min(50px, 10vw) * 8.8);
  background-color: #000;
}

.nutrition-content .mid {
  height: calc(min(5px, 1vw) * 1);
  width: calc(min(50px, 10vw) * 8.8);
  background-color: #000;
}

.nutrition-content .thick {
  height: calc(min(5px, 1vw) * 3);
  width: calc(min(50px, 10vw) * 8.8);
  background-color: #000;
}

.nutrition-content .wide-wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(min(50px, 10vw) * 8.8);
}

.nutrition-content .semi-wide-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: calc(min(50px, 10vw) * 0.6);
  width: calc(min(50px, 10vw) * 8.2);
}

.nutrition-content .thin-large {
  font-size: calc(min(50px, 10vw) * 0.5);
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #000;
}

.nutrition-content .maximum {
  margin-top: calc(min(50px, 10vw) * -0.2);
}

.nutrition-content .count {
  align-self: flex-end;
}

.nutrition-content .exlarge-bold {
  font-size: calc(min(50px, 10vw) * 0.9);
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
}

.nutrition-content .large-bold {
  font-size: calc(min(50px, 10vw) * 0.7);
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
}

.nutrition-content .mid-bold {
  font-size: calc(min(50px, 10vw) * 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #000;
}

.nutrition-content .small-bold {
  line-height: calc(min(50px, 10vw) * 0.48);
  font-size: calc(min(50px, 10vw) * 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #000;
}

.nutrition-content .small-thin {
  line-height: calc(min(50px, 10vw) * 0.48);
  font-size: calc(min(50px, 10vw) * 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}

.nutrition-content .exsmall-thin {
  line-height: calc(min(50px, 10vw) * 0.35);
  font-size: calc(min(50px, 10vw) * 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}
