.phone {
  /* aspect-ratio: 71.5 / 147.5; */
  margin-bottom: min(108px, 20vw);
  height: calc(min(400px, 80vw) * 1.96);
  width: calc(min(400px, 80vw) * 0.95);
  rotate: -5deg;
  border-radius: calc(min(400px, 80vw) * 0.15);
  background-color: var(--appstore-background);
  box-shadow: 6px 6px 16px var(--shadow-colour);
  border-width: calc(min(400px, 80vw) * 0.03);
  border-style: solid;
  border-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.phone .notch {
  position: absolute;
  aspect-ratio: 3.5 / 1;
  background-color: #000;
  border-radius: 200px;
  width: 28%;
  margin-top: 3%;
}

.phone .status {
  display: flex;
  margin-top: 5%;
  width: 80%;
  justify-content: space-between;
  color: var(--font-colour);
  font-size: calc(min(20px, 4vw) * 0.8);
}

.phone .status .time {
  margin-left: 5%;
}

.phone .header {
  display: flex;
  margin-top: 7%;
  width: 100%;
}

.phone .header .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  margin-left: 6%;
  width: 28%;
  background-color: #e5d8ef;
  border-radius: min(20px, 4vw);
}

.phone .header .icon img {
  width: 70%;
}

.phone .header .title {
  display: flex;
  flex-direction: column;
  margin-top: 0.5%;
  margin-left: 5%;
  color: var(--font-colour);
  white-space: pre-line;
  height: 100%;
}

.phone .header .title .name {
  line-height: calc(min(20px, 4vw) * 1.15);
  font-size: calc(min(20px, 4vw) * 1);
  font-weight: 600;
}

.phone .header .title .description {
  line-height: calc(min(20px, 4vw) * 1.2);
  font-size: calc(min(20px, 4vw) * 0.8);
  color: var(--appstore-thin-colour);
}

.phone .header .title .open {
  position: absolute;
  margin-top: calc(min(100px, 20vw) * 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2.7 / 1;
  width: calc(min(100px, 20vw) * 0.7);
  border-radius: 30px;
  background-color: #3478f6;
  font-size: calc(min(20px, 4vw) * 0.7);
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.phone .rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 95%;
  height: calc(min(20px, 4vw) * 4);
}

.phone .rating .top-line {
  width: 100%;
  height: calc(min(20px, 4vw) * 0.05);
  background-color: var(--appstore-line-colour);
}

.phone .rating .ratings {
  display: flex;
  height: 98%;
  width: 98%;
  margin-left: 2%;
}

.phone .rating .ratings text {
  color: var(--appstore-thin-colour);
  font-size: calc(min(20px, 4vw) * 0.6);
}

.phone .rating .ratings .area {
  margin-top: calc(min(20px, 4vw) * 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone .rating .ratings .practice {
  line-height: calc(min(20px, 4vw) * 0.6);
  overflow: hidden;
  white-space: nowrap;
}

.phone .rating .ratings .value-wrapper {
  line-height: calc(min(20px, 4vw) * 1.1);
  margin-top: calc(min(20px, 4vw) * 0.45);
}

.phone .rating .ratings .value {
  color: var(--appstore-medium-colour);
  font-size: calc(min(20px, 4vw) * 1.1);
  font-weight: 600;
}

.phone .rating .ratings .stars {
  position: absolute;
  margin-top: calc(min(20px, 4vw) * 2.2);
}

.phone .rating .ratings .circles {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: calc(min(20px, 4vw) * 2.6);
  width: calc(min(20px, 4vw) * 2.6);
}

.phone .rating .ratings .circle {
  height: calc(min(20px, 4vw) * 0.3);
  width: calc(min(20px, 4vw) * 0.3);
  border-radius: 20px;
  background-color: var(--appstore-medium-colour);
}

.phone .rating .ratings .empty-circle {
  height: calc(min(20px, 4vw) * 0.3);
  width: calc(min(20px, 4vw) * 0.3);
  border-radius: 20px;
  background-color: var(--appstore-line-colour);
}

.phone .rating .ratings .unit {
  position: absolute;
  margin-top: calc(min(20px, 4vw) * 2.2);
  line-height: calc(min(20px, 4vw) * 0.6);
}

.phone .rating .ratings .star {
  fill: var(--appstore-medium-colour);
}

.phone .rating .ratings .none {
  fill: var(--appstore-line-colour);
}

.phone .rating .divide {
  height: 50%;
  width: calc(min(20px, 4vw) * 0.05);
  background-color: var(--appstore-line-colour);
  align-self: center;
  margin: 0 5% 0 5%;
}

.phone .rating .bottom-line {
  width: 100%;
  height: calc(min(20px, 4vw) * 0.05);
  background-color: var(--appstore-line-colour);
}

.phone .ea {
  width: 88%;
}

.phone .ea .ea-wrapper {
  color: var(--font-colour);
  margin-top: calc(min(20px, 4vw) * 0.3);
  line-height: calc(min(20px, 4vw) * 0.6);
  font-size: calc(min(20px, 4vw) * 1);
  font-weight: 600;
}

.phone .ea .ea-time {
  color: #3478f6;
  line-height: calc(min(20px, 4vw) * 1.3);
  font-size: calc(min(20px, 4vw) * 0.7);
  font-weight: 500;
}

.phone .ea .event {
  display: flex;
  flex-direction: column;
  margin-top: calc(min(20px, 4vw) * 0.2);
  margin-bottom: calc(min(20px, 4vw) * 1.1);
  height: calc(min(20px, 4vw) * 10);
  width: 100%;
  border-radius: calc(min(20px, 4vw) * 0.4);
  box-shadow: 2px 2px 8px var(--shadow-colour);
  background-color: var(--appstore-event-colour);
}

.phone .ea .event .image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: calc(min(20px, 4vw) * 7.5);
  width: 100%;
}

.phone .ea .event .text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 88%;
  height: calc(min(20px, 4vw) * 4);
  background: linear-gradient(0deg, #000c 0%, #0000 100%);
  color: #fff;
}

.phone .ea .event .text-box .event-title {
  margin-left: calc(min(20px, 4vw) * 0.4);
  line-height: calc(min(20px, 4vw) * 1);
  font-size: calc(min(20px, 4vw) * 0.9);
  color: #fff;
  font-weight: 600;
}

.phone .ea .event .text-box .event-description {
  margin-left: calc(min(20px, 4vw) * 0.43);
  line-height: calc(min(20px, 4vw) * 0.7);
  margin-bottom: calc(min(20px, 4vw) * 0.3);
  font-size: calc(min(20px, 4vw) * 0.7);
  color: #ddd;
  font-weight: normal;
}

.phone .ea .event img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: calc(min(20px, 4vw) * 0.4) calc(min(20px, 4vw) * 0.4) 0 0;
}

.phone .ea .event {
  white-space: pre-line;
}

.phone .ea .event .title {
  margin-top: calc(min(20px, 4vw) * 0.2);
  margin-left: calc(min(20px, 4vw) * 0.4);
  line-height: calc(min(20px, 4vw) * 1.15);
  font-size: calc(min(20px, 4vw) * 0.9);
  font-weight: 600;
  color: var(--font-colour);
}

.phone .ea .event .duration {
  margin-left: calc(min(20px, 4vw) * 0.4);
  font-size: calc(min(20px, 4vw) * 0.7);
  font-weight: normal;
  color: var(--appstore-thin-colour);
}

.phone .home-bar {
  position: absolute;
  bottom: 1%;
  height: 0.7%;
  width: 32%;
  background-color: var(--font-colour);
  border-radius: 20px;
}