.box div {
  background: #EEEEEE;
  width: stretch;
  height: 100px;
  position: absolute;
  top: 500px;
  padding: 10px;
  align-content: center;
}

.hello div {
  background: #FFFFFF;
  width: 250px;
  height: 100px;
  position: absolute;
  top: 500px;
  left: 460px;
}

.circle div {
  background: #FFFFFF;
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 100%;
}

html, body {
  overflow: hidden;
}