.ratings {
  display: flex;
  height: 98%;
  width: 98%;
  margin-left: 2%;
}

.ratings .area {
  margin-top: calc(min(20px, 4vw) * 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratings .practice {
  line-height: calc(min(20px, 4vw) * 0.6);
}

.ratings text {
  color: var(--appstore-thin-colour);
  font-size: calc(min(20px, 4vw) * 0.6);
}

.ratings .value-wrapper {
  line-height: calc(min(20px, 4vw) * 1.1);
  margin-top: calc(min(20px, 4vw) * 0.45);
}

.ratings .value {
  color: var(--appstore-medium-colour);
  font-size: calc(min(20px, 4vw) * 1.1);
  font-weight: 600;
}

.ratings .stars {
  position: absolute;
  margin-top: calc(min(20px, 4vw) * 2.2);
}

.ratings .star {
  fill: var(--appstore-medium-colour);
}

.ratings .none {
  fill: var(--appstore-line-colour);
}

.divide {
  height: 50%;
  width: calc(min(20px, 4vw) * 0.05);
  background-color: var(--appstore-line-colour);
  align-self: center;
  margin: 0 5% 0 5%;
}

.bottom-line {
  width: 100%;
  height: calc(min(20px, 4vw) * 0.05);
  background-color: var(--appstore-line-colour);
}