@media (prefers-color-scheme: light) {
  :root {
    --background-colour: #fff;
    --shadow-colour: #3334;
    --dots-one-image: radial-gradient(
      #555 0.8px,
      var(--background-colour) 0.8px
    );
    --dots-one-size: 10px 10px;
    --dots-two-image: radial-gradient(
      #555 0.8px,
      var(--background-colour) 0.8px
    );
    --dots-two-size: 8px 8px;
    --crosshatch-colour: #eee;
    --crosshatch-background: radial-gradient(
        circle,
        transparent 30%,
        var(--background-colour) 26%
      ),
      linear-gradient(
        45deg,
        transparent 46%,
        var(--crosshatch-colour) 47%,
        var(--crosshatch-colour) 52%,
        transparent 53%
      ),
      linear-gradient(
        135deg,
        transparent 46%,
        var(--crosshatch-colour) 47%,
        var(--crosshatch-colour) 52%,
        transparent 53%
      );
    --crosshatch-size: 25px 25px;
    --diagonal-background: repeating-linear-gradient(
      45deg,
      var(--crosshatch-colour),
      var(--crosshatch-colour) 1px,
      var(--background-colour) 1px,
      var(--background-colour) 10px
    );
    --font-colour: #000;
    --happy-colour: #555;
    --bouncy-colour: #888;
    --push-shadow: #fffd;
    --push-background: #bbb;
    --outline-colour: #aaa;
    --badge-colour: #fff;
    --construction-colour: #333;
    --construction-background: repeating-linear-gradient(
      45deg,
      var(--bouncy-colour),
      var(--bouncy-colour) 1px,
      var(--construction-colour) 1px,
      var(--construction-colour) 10px
    );
    --appstore-background: #fff;
    --appstore-thin-colour: #777;
    --appstore-medium-colour: #666;
    --appstore-line-colour: #ddd;
    --appstore-event-colour: #fff;
    --envelope-window-colour: #eee;
    --envelope-pattern: radial-gradient(circle at top,transparent 9%, #eee 10% ,#eee 15% , transparent 16%), radial-gradient(circle at bottom,transparent 9%, #eee 10% ,#eee 15% , transparent 16%), radial-gradient(circle at right,transparent 9%, #eee 10% ,#eee 15% , transparent 16%), radial-gradient(circle at left,transparent 9%, #eee 10% ,#eee 15% , transparent 16%);
    --envelope-pattern-size: 15px 15px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #353535;
    --shadow-colour: #000c;
    --dots-one-image: radial-gradient(
      #aaa 0.8px,
      var(--background-colour) 0.8px
    );
    --dots-one-size: 10px 10px;
    --dots-two-image: radial-gradient(
      #aaa 0.8px,
      var(--background-colour) 0.8px
    );
    --dots-two-size: 8px 8px;
    --crosshatch-colour: #444;
    --crosshatch-background: radial-gradient(
        circle,
        transparent 30%,
        var(--background-colour) 26%
      ),
      linear-gradient(
        45deg,
        transparent 46%,
        var(--crosshatch-colour) 47%,
        var(--crosshatch-colour) 52%,
        transparent 53%
      ),
      linear-gradient(
        135deg,
        transparent 46%,
        var(--crosshatch-colour) 47%,
        var(--crosshatch-colour) 52%,
        transparent 53%
      );
    --crosshatch-size: 25px 25px;
    --diagonal-background: repeating-linear-gradient(
      45deg,
      var(--crosshatch-colour),
      var(--crosshatch-colour) 1px,
      var(--background-colour) 1px,
      var(--background-colour) 10px
    );
    --font-colour: #fff;
    --happy-colour: #ccc;
    --bouncy-colour: #aaa;
    --push-shadow: #353535d0;
    --push-background: #000;
    --outline-colour: #aaa;
    --badge-colour: #eee;
    --construction-colour: #fff;
    --construction-background: repeating-linear-gradient(
      45deg,
      var(--bouncy-colour),
      var(--bouncy-colour) 1px,
      var(--construction-colour) 1px,
      var(--construction-colour) 10px
    );
    --appstore-background: #111;
    --appstore-thin-colour: #888;
    --appstore-medium-colour: #999;
    --appstore-line-colour: #333;
    --appstore-event-colour: #222;
    --envelope-window-colour: #ddd;
    --envelope-pattern: radial-gradient(circle at top,transparent 9%, #ddd 10% ,#ddd 15% , transparent 16%), radial-gradient(circle at bottom,transparent 9%, #ddd 10% ,#ddd 15% , transparent 16%), radial-gradient(circle at right,transparent 9%, #ddd 10% ,#ddd 15% , transparent 16%), radial-gradient(circle at left,transparent 9%, #ddd 10% ,#ddd 15% , transparent 16%);
    --envelope-pattern-size: 15px 15px;
  }
}

@font-face {
  font-family: "happy";
  src: url("./media/fonts/kghappy-webfont.woff2") format("woff2"),
    url("./media/fonts/kghappy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bouncy";
  src: url("./media/fonts/bouncy-personal_use_only-webfont.woff2")
      format("woff2"),
    url("./media/fonts/bouncy-personal_use_only-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--background-colour);
  color: var(--background-colour);
}

h1 {
  margin: 0;
  color: var(--font-colour);
  font-size: min(60px, 12vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

h2 {
  margin: 0;
  color: var(--font-colour);
  font-size: min(54px, 10vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.happy {
  position: absolute;
  margin: 0;
  color: var(--happy-colour);
  font-size: 25px;
  font-family: happy;
  font-weight: 200;
  /* visibility: hidden; */
}

.bouncy {
  position: absolute;
  margin: 0;
  color: var(--bouncy-colour);
  font-size: 25px;
  font-family: bouncy;
  font-weight: 200;
  visibility: hidden;
}

.visual-cue {
  position: absolute;
  visibility: hidden;
}

.root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-colour);
  background-image: var(--crosshatch-background);
  background-size: var(--crosshatch-size);
  overflow-x: hidden;;
}
